{% include 'admin/cabecera.html' %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Datos del libro</div>
                <div class="card-body">
                    <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escriba el nombre del libro"/>
                        </div>
                        
                        <div class="mb-3">
                            <label for="" class="form-label">Imagen:</label>
                        <input type="file" class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccionar imagen"/>
                        </div>


                        <div class="mb-3">
                            <label for="" class="form-label">URL Descarga:</label>
                        <input type="text" class="form-control" name="txtUrl" id="txtUrl" aria-describedby="helpId" placeholder="Escriba la url de descarga"/>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <!-- <button type="submit" class="btn btn-">Editar</button> -->
                    </form>
                </div>
            <div class="card-footer text-muted">Footer</div>
        </div>
    </div>

    
        <div class="col-md-7">
                <div class=" table table-bordered">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre </th>
                                <th>Imagen </th>
                                <th>URL</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for libro in libros %}
                            <tr>
                                <td>{{libro[0]}}</td>
                                <td>{{libro[1]}}</td>
                                <td>
                                    <img
                                        width="60"
                                        src="/img/{{libro[2]}}"
                                        class="img-fluid rounded-top"
                                        alt=""/>
                                    {{libro[2]}}
                                </td>
                                <td>
                                    {{libro[3]}}
                                    <!-- <a href="{{libro[3]}}" role="button"></a> -->
                                </td>
                                <td>
                                    <form action="/admin/libros/borrar" method="post">
                                        <input value="{{libro[0]}}" type="hidden" name="txtID" id="txtID">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <!-- <button type="submit" class="btn btn-secundary">Editar</button> -->
                                    </form>
                                </td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
                
        </div>
    </div>

</div>










{% include 'admin/pie.html' %}